
  div.box div.overlay
{
    display:none;
}

.back{
    height: 25px;
    padding:0px 10px;
  }
.hasTooltip span {
    display: none;
    color: #000;
    text-decoration: none;
    padding: 3px;
}

.hasTooltip:hover span {
    display: block;
    position: absolute;
    background-color: #FFF;
    border: 1px solid #CCC;
    margin: 2px 10px;
    width: 200px;
}
#adddata {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
#adddata:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
#addexp {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

#addexp:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
#save {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

#save:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
#delete {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

#delete:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
#back {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

#back:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
#Link {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

#Link:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
.buttonsave{
    height: 23px;
    padding:0px 10px;

  }
  #count {
    display: none;
}